<div class="login-page">
    <div class="top-nav">
  <div class="nav-logo">
    <div class="nav-logo-icon">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/>
        <path d="M9 12l2 2 4-4"/>
      </svg>
    </div>
    <span class="nav-logo-text">Her&Him Bank</span>
  </div>
</div>
  <div class="bg-image"></div>

  <div class="login-center">
    <div class="login-card">
      <div class="login-logo">
        <div class="logo-icon">
           <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
           <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/>
           <path d="M9 12l2 2 4-4"/>
          </svg>
        </div>
        <h2>Reset Password</h2>
        <p>Enter your new password below</p>
      </div>

      <div class="error-message" *ngIf="errorMessage">
         {{ errorMessage }}
      </div>

      <div class="success-message" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <div class="form-group">
        <label>New Password</label>
        <div class="input-wrapper">
          <lucide-icon [img]="Lock" size="16" class="input-icon"></lucide-icon>
          <input [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter new password"
            [(ngModel)]="password" />
          <span class="toggle-password" (click)="togglePassword()">
            <lucide-icon [img]="showPassword ? EyeOff : Eye" size="16"></lucide-icon>
          </span>
        </div>
        <p class="password-hint">Min 8 chars, uppercase, number & special character</p>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <div class="input-wrapper">
          <lucide-icon [img]="Lock" size="16" class="input-icon"></lucide-icon>
          <input [type]="showPassword ? 'text' : 'password'"
            placeholder="Confirm new password"
            [(ngModel)]="confirmPassword" />
        </div>
      </div>

      <button class="login-btn" (click)="updatePassword()">
        <span *ngIf="!loading">Update Password</span>
        <div class="bounce-dots" *ngIf="loading">
          <span></span><span></span><span></span>
        </div>
      </button>
    </div>
  </div>
</div>